.nv{
    display: flex;
    justify-content: end;
}

.nav-list{
    background-color: transparent;
    position: fixed;
    bottom: 0;
    padding: 50px;
    animation: h 1.5s infinite alternate-reverse;
  }

  .home{
    color: rgba(255, 255, 255, 0.895);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
  }

  @keyframes h {
    from {transform: translateY(-4px);}
    to {transform: translateY(1px);}
  }